body{
	 background:url(h2.jpg);
	 background-size:100%;
}
header{
	position:absolute;
	left:35%;
	width:500px;
	height:50px;
	border:1px solid transparent;
	padding:20px;
}
.title{
	text-shadow:7px 1px 2px pink;
	font-size:3em;
	font-weight:bold;
}
footer{
	position:absolute;
	bottom:0px;
	color:white;
	width:100%;
	height:40px;
	text-align:center;
	background-color:black;
	padding:10px;
	font-size:1.5em;
	font-family:serif;
}
.ulPosition{
	position:absolute;
	bottom:23px;
	right:10px;
}
article{
	position:absolute;
	left:20%;
	top:20%;
}
.article1,.article2,.article3{
	 float:left;
	 width:300px;
	 height:400px;
	 margin:10px;
	 border:2px solid gray;
	 border-radius:360px;
}
.article1{
	background:url(a1.jpg);
	background-size:300px 400px;
	}
.article2{
	background:url(a2.jpg);
	background-size:300px 400px;
}
.article3{
	background:url(a3.jpg);
	background-size:300px 400px;
}
.article1:hover{border-color:DarkSlateGray}
.article2:hover{border-color:hotpink}
.article3:hover{border-color:LightSteelBlue}
.h21,.h22,.h23{
	position:absolute;
	top:-42px;
}
.h21{
	left:12%;
	color:black;
	text-shadow:2px 3px 4px DarkSlateGray;
}
.h22{
	left:47%;
	color:crimson;
	text-shadow:2px 3px 4px pink;
}
.h23{
	left:80%;
	color:LightSlateGray ;
	text-shadow:2px 3px 4px LightSteelBlue;
}
.pModal{
	padding:100px;
	display:block;
	background-color:black;
	color:white;
}




